@import "../variables";

.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    &__text {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
}