@import "../../styles/variables";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2rem;
  background-color: $color-dark-green;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $color-yellow;
  }

  &__main {
    display: flex;

    &__links {
      display: flex;
      justify-content: center;
      align-items: stretch;
      list-style: none;
    }

    &__auth {
      margin: .5rem 0 .5rem 2rem;
    }
  }
}